/*#FFFFFF // #F0F4FF // #4E67EB // #291D89*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;500&family=IBM+Plex+Sans:wght@100;200;300;400&display=swap");

:root {
  --brand-1: #fff;
  --brand-2: #f0f4ff;
  --brand-3: #4e67eb;
  --brand-4: #291d89;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--brand-2);
  color: #1d1d1d;
}

header {
  display: flex;
  justify-content: start;
  margin-bottom: 2em;
}

.logo {
  width: 4em;
  filter: invert(48%) sepia(28%) saturate(2180%) hue-rotate(156deg) brightness(96%) contrast(103%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* LEFT CONTAINER STYLING */

.container-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Ajustamos el tamaño de la textarea a la cantidad de cols */
#mensaje {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.5em;
  background-color: transparent;
  font-weight: 500;
  padding: 0 1em;
  resize: none;
  border: none;
  outline: none;
}
.mensaje-container {
  height: auto;
  width: auto;
}
::placeholder {
  color: #1d1d1d;
  font-weight: 500;
}

.mensaje-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0 2em;
}
.advertencia {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* BOTONES */
.botones-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.botones {
  border-radius: 15px;
  padding: 0.6em 3em;
  margin: 0 1em;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  cursor: pointer;
}
#boton-1 {
  background-color: var(--brand-4);
  border: none;
  color: var(--brand-1);
}

#boton-2 {
  background-color: transparent;
  border: 1px solid var(--brand-4);
  color: var(--brand-4);
}
/* ASIDE STYLING  */

aside {
  background-color: #fdfdfd;
  border-radius: 20px;
  width: 20em;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 1em;
}

#texto {
  width: 100%;
  word-wrap: break-word;
  display: inline-block;
  justify-self: start;
}

#muneco {
  display: none;
  width: 12em;
  height: 100%;
  margin: auto;
}

@media all and (min-width: 40em) {
  .container {
    flex-direction: row;
    padding-left: 4em;
    padding-top: 2em;
  }
  #muneco {
    display: block;
  }
}
