body {
  background-image: url("../images/BG1.png");
  background-size: cover;
  color: #1d1d1d;
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}

main {
  grid-area: 1 / 1;
  z-index: 5;
}

section {
  grid-area: 1 / 1;
}

footer {
  grid-row: 2;
  z-index: 5;
  margin-top: auto;
  background: linear-gradient( 90deg, rgba(255,255,255,1) 0%, rgba(240,244,255,1) 50%, rgba(78,103,235,1) 100% );
}


/* Desktop icons */

#desktop-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
  gap: 2em;
  padding: 3rem;
}

.icon {
  width: 3em;
  filter: invert(48%) sepia(28%) saturate(2180%) hue-rotate(156deg) brightness(96%) contrast(103%);
}

@media all and (min-width: 40em){
  #desktop-icons {
    gap: 4em;
    padding: 4em;
    flex-direction: column;
    justify-content: start;
  }
}





/* CONTENEDOR PRINCIPAL */

/* Estilo de todas las ventanas */
.window {
  position: absolute;
  max-width: 50ch;
  min-height: 10ch;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px 15px 0 0;
  box-shadow: 4px 5px 5px #1d1d1d57;
}

.window-top {
  cursor: move;
  background-color: #E8DFA7;
  border-radius: inherit;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.window-top-text {
  letter-spacing: 4px;
  margin: 0 1em;
}

.window-top-buttons {
  width: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.window-button {
  width: 4ch;
}

.window-content {
  padding: 1em;
}

#mensaje {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  resize: none;
  outline: none;
}

