/*#FFFFFF // #F0F4FF // #4E67EB // #291D89*/

:root {
  --brand-1: #fdfdfd;
  --brand-2: #f0f4ff;
  --brand-3: #c85a35;
  --brand-4: linear-gradient(30deg, #ff93e8, #92e6ff);
}

body {
  background-image: url("../images/bg.png");
  background-size: cover;
  color: #1d1d1d;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
}

/* LOGO */
#logo-container {
  display: flex;
  justify-content: start;
  margin-bottom: 2em;
}

#logo {
  width: 8ch;
  filter: invert(48%) sepia(28%) saturate(2180%) hue-rotate(156deg) brightness(96%) contrast(103%);
}

/* CONTENEDOR PRINCIPAL */

.window {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  border: #1d1d1d 1px solid;
  box-shadow: 4px 5px 5px #1d1d1d57;
}

.window-border {
  border-bottom: #1d1d1d 2px solid;
  border-radius: inherit;
  min-height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 0 1em;
}

.window-border-text {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  margin: 0;
}

.window-border-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.window-button {
  display: block;
  width: 1.5ch;
  border: #1d1d1d 2px solid;
  padding: 0.2em;
}

/* Stylo del contenedor del mensaje */

/* Ajustamos el tamaño de la textarea a la cantidad de cols */
#mensaje {
  font-size: 1.2rem;
  padding: 1em 1em;
  resize: none;
  border: none;
  outline: none;
}

::placeholder {
  color: #1d1d1d;
  font-weight: 500;
}

/* SUBMENU */

.window-submenu {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 40ch;
  top: 2.5em;
  margin: auto;
  background-color: #fdfdfd;
  border: #1d1d1d 2px solid;
  z-index: 2;
}

#window-warning-border {
  background-color: var(--brand-2);
  border-radius: inherit;
}

.window-border-text {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* BOTONES */
.window-submenu-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.botones {
  padding: 0 2em;
  margin: 1em 0;
  font-weight: bold;
  cursor: pointer;
}
#boton-encriptar {
  background-color: var(--brand-2);
  border: #1d1d1d 2px solid;
}

#boton-desencriptar {
  background-color: transparent;
  border: 1px solid var(--brand-4);
  color: var(--brand-4);
}

/* output window style  */

.window-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  max-height: 30rem;
  gap: 1em;
  text-align: center;
}

#window-output-text {
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  display: none;
  word-wrap: break-word;
}

#window-output-img {
  display: none;
  width: 12em;
  height: 100%;
  margin: auto;
}

/* Alert style */
#window-alert {
  display: none;
  z-index: 3;
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  max-width: 40ch;
  min-height: 1em;
}

.window-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.window-alert-text {
  text-align: center;
  margin: 0;
  padding: 1em;
}

@media all and (min-width: 40em) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
  }

  .window-submenu {
    position: absolute;
    width: 20rem;
    top: 30em;
    left: 18em;
    margin: auto;
  }

  .window {
    min-height: 20rem;
    width: 60ch;
  }
  #window-output-img {
    display: block;
  }
}
