/*#FFFFFF // #F0F4FF // #4E67EB // #291D89*/

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;500&family=IBM+Plex+Sans:wght@100;200;300;400&display=swap");

body {
  background-image: url("../images/AnymzpF.jpeg");
  font-family: "IBM Plex Sans", sans-serif;
  background-size: cover;
  color: #1d1d1d;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
}

/* LOGO */
#logo-container {
  display: flex;
  justify-content: start;
  margin-bottom: 2em;
}

#logo {
  width: 8ch;
  filter: invert(48%) sepia(28%) saturate(2180%) hue-rotate(156deg) brightness(96%) contrast(103%);
}

/* CONTENEDOR PRINCIPAL */

.window {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px 15px 0 0;
  box-shadow: 4px 5px 5px #1d1d1d57;
}

.window-border {
  background-color: #E7DCC8;
  border-radius: inherit;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.window-border-text {
  letter-spacing: 4px;
  margin: 0 1em;
}

.window-border-buttons {
  width: inherit;
  display: flex;
  align-items: center;
}

.window-button {
  width: 4ch;
}

/* Stylo del contenedor del mensaje */

/* Ajustamos el tamaño de la textarea a la cantidad de cols */
#mensaje {
  font-size: 1.2rem;
  padding: 1em 1em;
  resize: none;
  border: none;
  outline: none;
  background: none;
}

::placeholder {
  color: #1d1d1d;
  font-weight: 500;
}

/* SUBMENU */

.window-submenu {
  position: relative;
  top: 1em;
  margin: auto;
  border: #1d1d1d 1px solid;
  border-radius: 5px;
  background-color: #fdfdfd;
  box-shadow: 4px 5px 5px #1d1d1d57;
  z-index: 2;
}

/* BOTONES */
.window-submenu-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.botones {
  padding: 0.6em 2em;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 500;
background: none;
}
#btn-encriptar {
  background-color: var(--brand-1) ;
  color: #fdfdfd;
}

:root {
  --brand-1: #e0417b;
  --brand-2: #5b86cb;
}

#btn-desencriptar {
  border: 2px solid var(--brand-2);
  color: var(--brand-2);
}

/* output window style  */

.window-output {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2em;

}

#window-output-text {
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  display: none;
  word-wrap: break-word;
}

#window-output-img {
  display: none;
  width: 12em;
  height: 100%;
  margin: auto;
}

/* Alert style */
#alerta {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

#window-alert {
  max-width: 90%;
  min-height: 1em;
}

#cat{
  width: 10em;
  z-index: 3;
  position: relative;
  top: 1.5em;
  left: 5em;
}

.window-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2em ;
}

#window-alert-text {
  font-weight: bold;
  text-align: center;
}

@media all and (min-width: 40em) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
  }

  .window-submenu {
    position: relative;
    width: 20rem;
    top: 2em;
    left: 12em;
  }

  .window {
    min-height: 10rem;
    width: 60ch;
  }

  #window-output-img {
    display: block;
  }

  #cat{
    top: 1.4em;
    left: 13em;
  }
}
